<!-- Provided by /03-components/carousel/carousel.twig  -->
{# set carousel_constrain, carousel_title, carousel_description, carousel_custom_classes, carousel_default_card_amount, carousel_cards = item.carousel_constrain, item.carousel_title, item.carousel_description, item.carousel_custom_classes, item.carousel_default_card_amount, item.carousel_cards   #}

{% if item.carousel %}
  <!-- Carousel is a subcomponent of a layout component -->
  <div class="carousel {{ subcomponent ? 'subcomponent' : '' }}">
      {{ item.carousel.carousel_constrain ? '<div class="l-constrain">' : '' }}
          {% if item.carousel.carousel_title %}
              <h2 class="carousel__title">
                  {{ item.carousel.carousel_title }}
              </h2>
          {% endif %}
          {% if item.carousel.carousel_description %}
              <div class="carousel__description">
                  {{ item.carousel.carousel_description }}
              </div>
          {% endif %}
          <div class="carousel__container content">
            <div class="carousel__carousel {{ item.carousel.carousel_custom_classes }}" data-slides-to-show="{{ item.carousel.carousel_default_card_amount }}">
                {% set cards = item.carousel_cards|length %}
                {% for item in item.carousel.carousel_cards %}
                    {% include '@components/card/card.twig'%}
                {% endfor %}
            </div>
            {% if cards > 1 %}
                <div class="carousel__arrow carousel__arrow--prev"></div>
                <div class="carousel__arrow carousel__arrow--next"></div>
            {% endif %}
          </div>
      {{ item.carousel.carousel_constrain ? '</div>' : '' }}
  </div>
{% else %}
  <div class="carousel {{ subcomponent ? 'subcomponent' : '' }}">
      {{ item.carousel_constrain ? '<div class="l-constrain">' : '' }}
          {% if item.carousel_title %}
              <h2 class="carousel__title">
                  {{ item.carousel_title }}
              </h2>
          {% endif %}
          {% if item.carousel_description %}
              <div class="carousel__description">
                  {{ item.carousel_description }}
              </div>
          {% endif %}
          <div class="carousel__container content">
            <div class="carousel__carousel {{ item.carousel_custom_classes }}" data-slides-to-show="{{ item.carousel_default_card_amount }}">
                {% set cards = item.carousel_cards|length %}
                {% for item in item.carousel_cards %}
                    {% include '@components/card/card.twig'%}
                {% endfor %}
            </div>
            {% if cards > 1 %}
                <div class="carousel__arrow carousel__arrow--prev"></div>
                <div class="carousel__arrow carousel__arrow--next"></div>
            {% endif %}
          </div>
      {{ item.carousel_constrain ? '</div>' : '' }}
  </div>
{% endif %}
