<!-- Provided by /03-components/file-block/file-block.twig  -->
<div class="file-block {{ item.file_block.custom_classes }}">
  {{ item.file_block_constrain ? '<div class="l-constrain">' : ''}}

  {% if item.file_block_title %}
    <h2 class="file-block__title">{{ item.file_block_title }}</h2>
  {% endif %}

  {% if item.file_block_content %}
    <p class="file-block__content">{{ item.file_block_content }}</p>
  {% endif %}


  <div class="file-block__files">
    {% block files %}
      <!-- Patternlab -->
      {{ item.files|raw }}

      <!-- Wordpress Repeater -->
      {% for file in item.file_block_file_repeater %}
        {% embed "@components/file/file.twig" with {
            name: file.file_name,
            link: file.file_link,
            url: file.external_file_link,
            icon: file.file_type,
            mime: file.file_link.mime_type
          }%}
        {% endembed %}
      {% endfor %}

    {% endblock %}
  </div>
  {{ item.file_block_constrain ? '</div>' : ''}}
</div>
