<!-- Provided by /03-components/accordian/accordian.twig  -->
<div class="accordion {{ item.theme ? item.theme : '' }}{{ item.custom_classes ? item.custom_classes : ''}}">
    <div class="l-constrain">

      {% if item.accordion_title %}
      <h2 class="accordion__header">
          {{ item.accordion_title }}
      </h2>
      {% endif %}

        <div class="accordion__tabs">
            {% for f in item.accordian_tabs %}
                <div class="accordion__entry {% if loop.index0 >= item.max_shown %} hidden {% endif %}">
                    <h4 class="accordion__question">
                        {{ f.question }}
                    </h4>
                    <div class="accordion__answer">
                        {{ f.answer }}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if item.accordian_tabs|length > item.max_shown %}
            <div class="accordion__show-all button">
                {{ item.accordian_show_all_text }}
            </div>
        {% endif %}
    </div>
</div>
