<!-- Provided by /03-components/grid/grid.twig -->
<div class="grid {{ custom_classes }} {{ subcomponent ? 'subcomponent' : '' }}">
  <div class="l-constrain">
      {% if item.grid_title %}
        <h2 class="grid__title section-title">
          {{ item.grid_title }}
        </h2>
      {% endif %}

      <div class="grid__card-container">
      {% embed "@layouts/grid/grid.twig" with {
                modifier_classes: item.grid_size
            }%}
        {% block content %}
          {% if item.grid_cards %}
            {% for item in item.grid_cards %}
              {% include '@components/card/card.twig' with {
                use_button: item.card.button,
                card_button_url: item.card.button.url,
                card_button_title: item.card.button.title,
                card_button_style: item.card.button_style
              } %}
            {% endfor %}
          {% endif %}
        {% endblock %}
      {% endembed %}
      </div>

      {% if item.grid_link.button.url %}
        <!-- Grid Component Master Button-->
        <div class="grid__button">
          <a class="button {{ item.grid_link.button_style ? "button--#{item.grid_link.button_style }"}}" href="{{ item.grid_link.button.url }}" {{ item.grid_link.button.target ? "target=#{item.grid_link.button.target}" : ''}}>
            {{ item.grid_link.button.title }}
          </a>
        </div>
      {% endif %}

  </div>
</div>
