<!-- Provided by /03-components/hero-carousel/hero-carousel.twig -->
<div class="hero {{ item.custom_classes ? item.custom_classes : ''}}">
  <div class="hero__carousel">
    {% for item in item.slide %}
      <div class="hero__carousel-slide {{ item.overlay ? "has-overlay overlay--#{item.overlay}" : '' }}" style="background-image: url('{{ item.background_image ? item.background_image : '' }}');">
        <div class="l-constrain">
          <div class="carousel__inner">
            <div class="carousel__slide-content">

              {% if item.title %}
                <h1 class="slide__title">
                  {{ item.title }}
                </h1>
              {% endif %}

              {% if item.content %}
                <div class="slide__content">
                  {{ item.content }}
                </div>
              {% endif %}

              {% if loop.length >= 2 %}
                <div class="slide__controls">
                  {% if not loop.first %}
                    <div class="carousel__arrow carousel__arrow--prev">
                      prev
                    </div>
                  {% endif %}

                  {% if not loop.last %}
                    <div class="carousel__arrow carousel__arrow--next">
                      next
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    {% endfor %}
  </div>
</div>
