{# lightbox-media #}

<!-- provided by 03-components/lightbox-media/lightbox-media.twig -->
<div class="lightbox-media {{ item.theme ? item.theme : ''}} {{ item.custom_classes ? item.custom_classes : ''}}">
  {{ item.layout_constrain ? '<div class="l-constrain">' : ''}}
  {% if item.lightbox_media_title %}
    <h2 class="lightbox-media__title">{{ item.lightbox_media_title }}</h2>
  {% endif %}

  {% if item.lightbox_media_select == 'image' %}
      <div class="lightbox-media__image">
        <a href="{{ item.lightbox_media_image.url }}" data-lity>
          <img src="{{ item.lightbox_media_image.url }}" alt="{{ item.lightbox_media_image.link }}">
        </a>
      </div>
    {% else %}
      <div class="lightbox-media__embed-container">
        {% if item.lightbox_media_embed.url %}
          <!-- EXTERNAL LINK -->
          <a href="{{ item.lightbox_media_embed.url }}" class="lightbox-media__embed" data-lity>
            <img src="{{ item.lightbox_media_embed.image.url }}" alt="">
          </a>
        {% endif %}
      </div>
  {% endif %}

  {% if item.lightbox_media_caption %}
    <div class="lightbox-media__caption">
      {{ item.lightbox_media_caption }}
    </div>
  {% endif %}

  {{ item.layout_constrain ? '</div>' : ''}}
</div>
