<!DOCTYPE html>
<html class="no-js {{ html_class }}" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page_title }} | {{ siteName }}</title>
    <link href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" rel="stylesheet">
    <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../../js/lib/lity/lity.min.css?{{ cacheBuster }}" media="all">
    <link rel="stylesheet" href="../../../../css/styles.css?{{ cacheBuster }}" media="all">
    <script src="../../../../js/lib/modernizr.min.js?v=3.3.1"></script>
    <link rel="stylesheet" href="//use.typekit.net/qvy8oio.css?{{ cacheBuster }}" media="all">
    <link rel="stylesheet" href="../../../../css/pattern-lab.css?{{ cacheBuster }}" media="all">

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ body_class }}">
    <div class="skiplinks">
      <a href="#main" class="skiplinks__link visually-hidden focusable">Skip to main content</a>
    </div>
