    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../../../../js/custom/carousel.js?{{ cacheBuster }}"></script>
    <script src="../../../../js/custom/notes-as-you-go.js?{{ cacheBuster }}"></script>
    <script src="../../../../js/custom/accordion.js?{{ cacheBuster }}"></script>
    <script src="../../../../js/custom/scripts.js?{{ cacheBuster }}"></script>
    <script src="../../../../js/lib/siema.min.js?{{ cacheBuster }}"></script>
    <script src="../../../../js/lib/lity/lity.min.js?{{ cacheBuster }}"></script>
    <script src="../../../../js/mobile-menu.js?{{ cacheBuster }}"></script>    
    <script src="//developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>

    <!--DO NOT REMOVE-->
    {{ patternLabFoot | raw }}
  </body>
</html>
