{# quotation #}
<div class="quotation {{ custom_classes }}">
  <div class="l-constrain">
    {% if item.quotation_header %}
      <h2 class="quotation__header">
        {{ item.quotation_header }}
      </h2>
    {% endif %}

    <div class="quotation__inner">

      {% if item.quotation_quote %}
        <div class="quotation__quote {{ item.theme }}">{{ item.quotation_quote }}</div>
      {% endif %}

      <div class="quotation__meta">

        {% if item.quotation_attribution %}
          <span class="quotation__attribution">{{ item.quotation_attribution }}</span>
        {% endif %}

        {% if item.quotation_separator %}
          <span class="quotation__separator">{{ item.quotation_separator }}</span>
        {% endif %}

        {% if item.quotation_source %}
          <span class="quotation__source">{{ item.quotation_source }}</span>
        {% endif %}

      </div>
    </div>
  </div>
</div>
