<!-- Provided by /03-components/notes-as-you-go/notes-as-you-go.twig  -->
{% if item.use_notes_as_you_go %}
<div class="notes-as-you-go {{ options.global_notes_as_you_go.theme }}">
    <div class="l-constrain">
        <h2 class="notes-as-you-go__title">
            {{ options.global_notes_as_you_go.title }}
        </h2>
        <div class="notes-as-you-go__content">
            {{ options.global_notes_as_you_go.content }}
        </div>
        <div id="notes-as-you-go__open-btn" class="notes-as-you-go__button button">
            <span class="notes-as-you-go__button-text notes-as-you-go__button-text--open is-active">{{ options.global_notes_as_you_go.button_text.open_text }}</span><span class="notes-as-you-go__button-text notes-as-you-go__button-text--close">{{ options.global_notes_as_you_go.button_text.close_text }}</span>
        </div>
        <div class="notes-as-you-go__input-container">
            <textarea placeholder="Take notes here..." id="notes-as-you-go__input" class="notes-as-you-go__input"></textarea>
        </div>
    </div>
</div>
{% endif %}
