<!-- Provided by /03-components/headline/headline.twig  -->

{% if item.headline %}
  <!-- Headline as subcomponent -->
  <div class="headline {{ item.headline.headline_custom_classes }} {{ subcomponent ? 'subcomponent' : '' }}">
    <h2 class="headline__title">{{ item.headline.headline_title }}</h2>
  </div>
{% else %}
  <div class="headline {{ item.headline_custom_classes }} {{ subcomponent ? 'subcomponent' : '' }}">
    <h2 class="headline__title">{{ item.headline_title }}</h2>
  </div>
{% endif %}
