{% if item %}
{% set icon, title, description, link, button_style = item.icon.url, item.title, item.slat_description, item.button, item.button_style %}
{% endif %}
<!-- Provided by /03-components/icon-slat/icon-slat.twig  -->
<div class="icon-slat">
    <div class="l-constrain">
        <div class="icon-slat__container">
            <div class="icon-slat__main">
                <div class="icon-slat__icon" style="background-image: url('{{ icon }}');">
                </div>
                <div class="icon-slat__content">
                    <div class="icon-slat__title">
                        {{ title }}
                    </div>
                    <div class="icon-slat__description">
                        {{ description }}
                    </div>
                </div>
            </div>
            {% if link %}
            <div class="icon-slat__button">
                <a href="{{ link.url }}" target="{{ link.target }}" class="button button--{{ button_style }}">
                    {{ link.title }}
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>